* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

body {
    --glowGreen: #4bff8c;
    background: #090909;
    overflow-x: hidden;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 8px 8px 48px rgba(75, 255, 141, 0.4);
    color: var(--glowGreen);
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--glowGreen);
}

p {
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 175%;
    color: var(--glowGreen);
}

.front-page {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(project_frontpage.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.front-page a {
    margin-left: 64px;
    margin-top: 32px;
}
.front-page a img {
    filter: drop-shadow(24px 16px 32px rgba(75, 255, 141, 0.5));
    transition: all 0.28s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0.8;
}
.front-page a img:hover {
    filter: drop-shadow(24px 16px 32px rgba(75, 255, 141, 0.75));
    transform: translateX(-8px);
    opacity: 1;
}

.front-page .down-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.front-page .down-container img {
    filter: drop-shadow(24px 16px 32px rgba(75, 255, 141, 0.5));
    opacity: 0.8;
    transition: all 0.28s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.front-page .down-container img:hover {
    filter: drop-shadow(24px 16px 32px rgba(75, 255, 141, 0.75));
    opacity: 1;
    transform: translateY(8px);
}

.intro-con {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 64px 64px 64px 64px;
    max-width: 1400px;
}

.row-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.intro .row-content .text {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.intro .row-content h1 {
    margin-bottom: 32px;
}

.intro .row-content .image {
    height: 40%;
    width: 40%;
    background-color: #090909;
    border: 2px dotted var(--glowGreen);
    overflow: hidden;
}
.intro .row-content .image img {
    height: 100%;
    width: 100%;
    filter: brightness(80%);
    transition: all 0.28s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.intro .row-content .image img:hover {
    transform: scale(1.05);
    filter: brightness(100%);
}

.intro .col-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 80vw;
}

.sep {
    height: 128px;
    width: 100vw;
    background-image: url(sep.png);
    background-size: cover;
    margin-top: 32px;
    margin-bottom: 32px;
}

.col-content .tech-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 32px;
}

.col-content .tech-container .tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    margin-top: 64px;
}

.col-content .tech-container .tech .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    margin-bottom: 32px;
    background-color: #282828;
    border: 2px dotted var(--glowGreen);
    overflow: hidden;

}
.col-content .tech-container .tech .image img {
    height: 100%;
    width: 100%;
    filter: brightness(80%);
    transition: all 0.28s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.col-content .tech-container .tech .image img:hover {
    transform: scale(1.05);
    filter: brightness(100%);
}

.row-content .col-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 32px;
    width: 120%;
}

.row-content .col-content a img {
    height: 200px;
    width: 200px;
    opacity: 0.8;
    transition: all 0.28s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.row-content .col-content a img:hover {
    transform: translateX(8px);
    opacity: 1;
}